body{
    background: url(../img/cityskyline.png) no-repeat;
    background-size: 1350px;
    text-align: center;
    font-family: 'Crete Round', serif;
}

h1{
    color: rgb(223, 194, 224);
    font-size: 40px;
}


.board td {
    width: 22px;
    height: 22px;
    transition: .3s;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.pressed{
    background-color: rgb(193, 192, 194);
    
}
.unpressed{
    background-color:rgb(153, 199, 202);

}

.board td:hover {
    background-color: white;
}


.table-con {
    margin: 0 auto;
}

.difficulty{
    font-family: 'Crete Round', serif;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
}

.smile{
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
}